.DS_Store
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
# TODO: .o/.c files should be delted automatically
elements/**/*.so
elements/**/*.o
elements/**/*.c


# Distribution / packaging
.Python
build/
dist/
sdist/
*.egg
*.egg-info/

# IDE
.idea
.vscode

# output
output/
*.pdf
out.json
