# OS and IDE
.DS_Store
.idea
.vscode


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
apace/**/*.so
apace/**/*.o
apace/**/*.c


# Distribution / packaging
.Python
build/
dist/
sdist/
wheels/
*.egg
*.egg-info/

# mypy
.mypy_cache/

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# Enviroments
.env

# output
output/
*.pdf
out.json
